<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {{ partial "header.html" . }}
</head>
<body>
  {{ partial "navigation.html" . }}

  <!-- Page Content -->
  <div id="content" class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div id="left" class="col-md-8">
        {{ partial "post-content.html" . }}
      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div id="right" class="col-md-4">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
    <!-- /.row-->
    <hr>

    {{ partial "footer.html" . }}

  </div>
  <!-- /.container -->

  {{ partial "scripts.html" . }}
  
</body>
</html>
