{{ $cp := .Paginator.PageNumber }}
{{ $cu := .URL }}
{{ if lt $cp 4 }}
    {{ $.Scratch.Set "p" (first 5 .Paginator.Pagers) }}
    {{ $.Scratch.Set "first" true }}
    {{ $.Scratch.Set "last" false }}
{{ else if gt $cp (sub .Paginator.TotalPages 2) }}
    {{ $.Scratch.Set "p" (last 5 .Paginator.Pagers) }}
    {{ $.Scratch.Set "first" false }}
    {{ $.Scratch.Set "last" true }}
{{ else }}
    {{ $.Scratch.Set "p" (first 5 (after (sub $cp 3) .Paginator.Pagers)) }}
    {{ $.Scratch.Set "first" false }}
    {{ $.Scratch.Set "last" false }}
{{ end }}

<!-- Pager -->
<nav aria-label="Page navigation">
  <ul class="pagination">
    {{ if .Paginator.HasPrev }}
      <li>
        <a href="{{ $cu }}/page/{{ sub $cp 1 }}/" aria-label="Previous"><span aria-hidden="true">Prev</span></a>
      </li>
    {{ end }}

    {{ if (not ($.Scratch.Get "first")) }}
      <li {{ if eq $cp 1 }}class="active"{{ end }}>
        <a href="{{ $cu }}" > 1 </a>
      </li>
      <li class="disabled">
        <span>
          <span aria-hidden="true">...</span>
        </span>
      </li>
    {{ end }}

    {{ range $.Scratch.Get "p" }}
      <li {{ if eq $cp .PageNumber }}class="active"{{ end }}>
        <a href={{ if eq $cp .PageNumber }}"#"{{ else }}"{{ $cu }}/page/{{ .PageNumber }}/"{{ end }}> {{ .PageNumber }} {{ if eq $cp .PageNumber }}<span class="sr-only">(current)</span>{{ end }}</a>
      </li>
    {{ end }}

    {{ if (not ($.Scratch.Get "last")) }}
      <li class="disabled">
        <span>
          <span aria-hidden="true">...</span>
        </span>
      </li>
      <li {{ if eq $cp .Paginator.TotalPages }}class="active"{{ end }}>
        <a href="{{ $cu }}/page/{{ .Paginator.TotalPages }}/"> {{ .Paginator.TotalPages }} </a>
      </li>
    {{ end }}

    {{ if .Paginator.HasNext }}
      <li>
        <a href="{{ $cu }}/page/{{ add $cp 1 }}/" aria-label="Previous"><span aria-hidden="true"> Next </span></a>
      </li>
    {{ end }}
  </ul>
</nav>