<p>
{{ if (and (.Params.categories) (.Params.tags)) }}
<span class="glyphicon glyphicon-time"></span> Posted on {{ .Date.Format "January 02, 2006" }}&nbsp;
{{ end}}
{{ with .Params.categories }}
</p>
<p>
{{/*not sure why it doesn't work without the (sort .) part */}}
<span class="glyphicon glyphicon-folder-open"></span>&nbsp; {{ delimit (apply (apply (sort .) "partial" "category" ".") "chomp" ".") ", " }}
{{ end }}
{{ with .Params.tags }}
<span class="glyphicon glyphicon-tags"></span>&nbsp; {{ delimit (apply (apply (sort .) "partial" "tag" ".") "chomp" ".") ", " }}
{{ end }}
</p>