{{ partial "header.html" . }}

<h1>Hi!</h1>

<p>
This David Ding's personal website, he is a software engineer who focus on Java, Python, Golang, and specialized in backend applications while having experience in leading developer teams and doing code reviews.
</p>

<p>
In his spare time, he likes writing blog, <a href='https://book.douban.com/people/13135696/'>reading books</a>, learning data structure and algorithms, and doing physical exercise.
</p>

<p>
He loves creating software and is thrilled to be able to work on it full time. When not coding, he is usually having fun outdoors with his wife and child.</p>

<p>
My contact details:
</p>

<dl id="my_contact">
    <dt>Name:</dt>
    <dd>David Ding</dd>
    <dt>Github:</dt>
    <dd><a href="https://github.com/dantin">View my profile</a></dd>
    <dt>Twitter:</dt>
    <dd><a href="https://twitter.com/ChengjieDing">Follow me</a></dd>
    <dt>LinkedIn:</dt>
    <dd><a href="https://cn.linkedin.com/in/david-ding-61384193">View my profile</a></dd>
</dl>

{{ partial "footer.html" . }}